body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

:global .no-script {
  color: rebeccapurple;
  font-size: 1.5rem;
  font-weight: 600;
}
